body {
  background-image: url("../images/123.jpg");
  background-color: #cccccc;

  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header {
  height: 100vh;
  background-size: cover;
  background-position: center;
}
ul {
  float: right;
  list-style-type: none;
}
ul li {
  display: inline;
}
ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid rgba(red, green, blue, alpha) transparent;
  transition: 0.6s ease;
}
ul li a:hover {
  background-color: #fff;
  color: rgb(131, 23, 23);
  border-radius: 45%;
}
.logo img {
  float: left;
  width: 150px;
  height: auto;
}
.main {
  max-width: 950px;
  margin: auto;
  padding-top: 60px;
}
.title {
  position: absolute;
  top: 40%;
  left: 40%;
  right: 300px;
  transform: translate(-50%, -50%);
}
.title h1 {
  color: #fff;
  font-size: 70px;
}
.prg {
  position: absolute;
  top: 55%;
  left: 40%;
  right: 300px;
  transform: translate(-50%, -50%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.button {
  position: absolute;
  top: 65%;
  left: 40%;
  right: 300px;
  transform: translate(-50%, -50%);
}
.btn {
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  background-color: greenyellow;
  border-radius: 15%;
}
.btnq {
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  background-color: rgb(6, 80, 129);
  border-radius: 15%;
}
.btn:hover,
.btnq:hover {
  background-color: #fff;
  color: rgb(126, 102, 102);
  border-radius: 45%;
  transition: 0.6s ease;
}
.phone{
    display: flex;
  position: absolute;
  top: 50%;
  left: 70%;
  right: 300px;
  transform: translate(-50%, -50%);
  height: 500px;
}

.phone2{
    z-index: 1;
}
.phone1{
    display: flex;
  position: absolute;
  top: 55%;
  left: 110%;
  right: 300px;
  transform: translate(-50%, -50%);
  height: 500px;
   }
    
